<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<form action="/submit" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <br><br>
    <button><a>Send</a></button><br>
</form>
<br><br>
<form action="/delete" method="POST">
    <label for="username1">Username:</label><br>
    <input type="text" id="username1" name="username1"><br><br>
    <br><br>
    <button><a>Delete</a></button><br>
</form>
</body>